*{
    box-sizing: border-box;
}

body{
    background-color: #314178;
    font-family: Trebuchet MS;
    color: #fff;
}



a {
    display:inline-block;
    color: #fff;
    padding: 30px;
    size: 20px;
    text-shadow: 3px 1px #000000;




}

h1{
    margin: auto;
}

.center{
    margin: auto;
    text-align: center;
}


#images {
    width: 850px;
    margin: auto;
}