*{
    box-sizing: border-box;
}

body{
    font-family: Trebuchet MS;
    color: #fff;
    width: 99%;
}

main {
    width: 95%;
    margin: 1em auto;
    padding: 1em;
    border-radius: 25px;
}

.mainButtonDiv {
    width: 26%;
    margin: 0px auto;
    margin-top: 100px;
    padding: 20px;
}

#enterButton {
    font-weight: 700;
    margin-top: 100px;
    margin-bottom: 100px;
    border: 0px;
    color: #314178;
    font-size: 20px;
    border-radius: 5px;
    padding: 15px;
    display: block;
    width: 100%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition:0.3s;
}

#enterButton:hover {
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
}

aside {
    width: 15%;
    height: 650px;
    margin: 1em 1em 1em 1em;
    padding: 1em;
    border-radius: 25px;
    float: left;
    text-align: center;
}

section{
    width: 15%;
    height: 650px;
    margin: 1em 1em 1em 1em;
    padding: 1em;
    border-radius: 25px;
    float: right;
    text-align: center;
}

mid {
    width: 80%;
    height: 650px;
    margin: 1em 1em 1em 1em;
    padding: 1em;
    border-radius: 25px;
    float: right;
}

table {
    font-family: Trebuchet MS;
    border-collapse: collapse;
    width: 100%;
}

td, th{

    text-align: center;
    padding: 8px;
}

th{
    font-variant: small-caps;
    font-size: 25px;
    border-radius: 35px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-variant: small-caps;
    overflow: hidden;
}

nav li {
    float: left;
    font-family: Trebuchet MS;
}

nav li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

a {
    display: inline-block;
    color: #fff;
    padding: 30px;
    size: 30px;
    text-shadow: 3px 1px #000000;
}

h1{
    margin: auto;
}

label{
    font-family: Trebuchet MS;
    font-size: 25px;
    font-variant: small-caps;
    color: #fff;
}

input{
    font-family: Trebuchet MS;
    font-size: 25px;
    color: white;
}

canvas {
    position: absolute;
    margin: 2.5em 0em 0em 0em;
    left: 33%;
    border-radius: 10px;
}

.profileBody{
    font-family: Trebuchet MS;
    font-size: 25px;
    font-variant: small-caps;
    color: #fff;
    width: 45%;
}

.center{
    margin: auto;
    text-align: center;
}

.container{
    font-family: Trebuchet MS;
    color: #fff;
    border-radius: 25px;
}

.horizontalRow{
    width: 100%;
}

.horizontalBlock{
    text-align: center;
    vertical-align: top;
    width: 45%;
    display: inline-block;
}

.horizontalBlockProfile{
    vertical-align: top;
    width: 45%;
    display: inline-block;
}

.profileBodyTitle{
    margin: 1em;
    padding: 1em;
    font-variant: small-caps;
    text-shadow: 3px 1px #000000;
}

.btn {
    border: none;
    color: white;
    padding: 14px 28px;
    font-size: 25px;
    cursor: pointer;
    border-radius: 25px;
}

.info {
    background-color: #2196F3;
}

.success {
    background-color: #4CAF50;
}

.success:hover {
    background-color: #46a049;
}

.danger {
    background-color: #f44336;
}

.danger:hover {
    background: #da190b;
}

.info:hover {
    background: #0b7dda;
}

.divGame {
    display: block;
}

#profileTitle{
    width: 95%;
    height: 60px;
    margin: 1em auto;
    padding: 1em;
    border-radius: 25px;
    font-variant: small-caps;
    text-shadow: 3px 1px #000000;
}

#profileBody{
    height: fit-content;
}

#images {
    width: 850px;
    margin: auto;
}

#game{
    display: inline-block;
    width: 50%;
    height: 650px;
    border-radius: 25px;
    margin: 1em auto;
}

#playerName{
    font-size: 25px;
    font-variant: small-caps;
}

#chooseColor{
    margin: 10px;
    border-radius: 25px;
    font-variant: small-caps;
    vertical-align: center;
    float: right;
}

#gameDiv{
    width: 60%;
}